<div class="contenu">
  <div class="navbar">
    <h2>Super Musique Infinie</h2>
  </div>
  <div class="form-group box">
    <div class="boiteInputButon">
      <h5>Look up an artist</h5>
      <input
        [(ngModel)]="artistName"
        type="email"
        class="form-control"
        placeholder="Artist name"
      />
      <button
        (click)=" getArtist(); toggleClick()"
        type="button"
        class="btn btn-primary boutton"
      >
        Search
      </button>
    </div>
  </div>

  <div class="boiteResultat">
    <h2 *ngIf="pressed === true">Album de : {{ titreh2 }}</h2>

    <div class="rowAlbum row" *ngFor="let album of listArtist">
      <div class="col-3">
        <img src="{{ album.image }}" alt="" />
      </div>
      <div class="col-9">

      </div>
    </div>
  </div>
</div>
