<!-- NAVBAR -->
<div class="contenu">
  <div class="navbar">
    <a href="">
      <h2>Super Musique Infinie</h2>
    </a>
  </div>
  <div class="form-group box">
    <div class="boiteInputButon">
      <h5>Look up an artist</h5>
      <input
        [(ngModel)]="artistName"
        type="email"
        class="form-control"
        placeholder="Artist name"
      />
      <button
        (click)="getArtist()"
        type="button"
        class="btn btn-primary boutton"
      >
        Search
      </button>
    </div>
  </div>
</div>

<!-- MAIN CONTENT DEPENDING ON CURRENT ROUTE -->
<router-outlet></router-outlet>
