.navbar {
  background-color: rgb(225, 212, 186);
  display: flex;
}

.navbar h2 {
  color: white;
  margin: 0 auto;
}
.navbar img {
  height: 70px;
  width: 70px;
  border-radius: 70%;
}

.contenu {
  width: 70%;
  background-color: rgb(250, 248, 224);
  margin-left: auto;
  margin-right: auto;
}
.contenu a {
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border: 1px solid black;
}
.boiteInputButon {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 20px;
  text-align: center;
  padding: 50px 0;
}

.boutton {
  width: 120px;
  margin-top: 10px;
}
